:root {
  --mainDark: #222;
  --mainWhite: #eff;
  --mainGray: #d4d4d4;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 2rem;
}

.default-background {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-position: center;
  background-size: cover;
}

.btn-spy {
  color: var(--mainDark);
  border-color: var(--mainDark) !important;
}

.btn-spy:hover {
  background: var(--mainDark);
  color: var(--mainWhite) !important;
}

.footer {
  background: var(--mainDark);
}

.info {
  background: var(--mainGray);
}
